/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@use '@angular/material' as mat;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

$fontConfig: (
    display-4: mat.define-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
    display-3: mat.define-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
    display-2: mat.define-typography-level(45px, 48px, 400, 'Roboto', 0.0000em),
    display-1: mat.define-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
    headline: mat.define-typography-level(24px, 32px, 400, 'Roboto', 0.0000em),
    title: mat.define-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
    subheading-2: mat.define-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
    subheading-1: mat.define-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
    body-2: mat.define-typography-level(14px, 24px, 500, 'Roboto', 0.0179em),
    body-1: mat.define-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
    button: mat.define-typography-level(14px, 14px, 500, 'Roboto', 0.0893em),
    caption: mat.define-typography-level(12px, 20px, 400, 'Roboto', 0.0333em),
    input: mat.define-typography-level(inherit, 1.125, 400, 'Roboto', 1.5px)
);

// Foreground Elements

// Light Theme Text
$dark-text: #3d3d3d;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
    base:              black,
    divider:           $dark-dividers,
    dividers:          $dark-dividers,
    disabled:          $dark-disabled-text,
    disabled-button:   rgba($dark-text, 0.26),
    disabled-text:     $dark-disabled-text,
    elevation:         black,
    secondary-text:    $dark-accent-text,
    hint-text:         $dark-disabled-text,
    accent-text:       $dark-accent-text,
    icon:              $dark-accent-text,
    icons:             $dark-accent-text,
    text:              $dark-primary-text,
    slider-min:        $dark-primary-text,
    slider-off:        rgba($dark-text, 0.26),
    slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: var(--white);
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
    base:              $light-text,
    divider:           $light-dividers,
    dividers:          $light-dividers,
    disabled:          $light-disabled-text,
    disabled-button:   rgba($light-text, 0.3),
    disabled-text:     $light-disabled-text,
    elevation:         black,
    hint-text:         $light-disabled-text,
    secondary-text:    $light-accent-text,
    accent-text:       $light-accent-text,
    icon:              $light-text,
    icons:             $light-text,
    text:              $light-text,
    slider-min:        $light-text,
    slider-off:        rgba($light-text, 0.3),
    slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background:    #fff;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-tooltip:     lighten(#2c2c2c, 20%);
$dark-bg-alpha-4:     rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12:    rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
    background:               $light-background,
    status-bar:               $light-bg-darker-20,
    app-bar:                  $light-bg-darker-5,
    hover:                    $dark-bg-alpha-4,
    card:                     $light-bg-lighter-5,
    dialog:                   $light-bg-lighter-5,
    tooltip:                  $dark-bg-tooltip,
    disabled-button:          $dark-bg-alpha-12,
    raised-button:            $light-bg-lighter-5,
    focused-button:           $dark-focused,
    selected-button:          $light-bg-darker-20,
    selected-disabled-button: $light-bg-darker-30,
    disabled-button-toggle:   $light-bg-darker-10,
    unselected-chip:          $light-bg-darker-10,
    disabled-list-option:     $light-bg-darker-10,
);

// Dark bg
$dark-background:     #2c2c2c;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(var(--white), 0.04);
$light-bg-alpha-12:   rgba(var(--white), 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
    background:               $dark-background,
    status-bar:               $dark-bg-lighter-20,
    app-bar:                  $dark-bg-lighter-5,
    hover:                    $light-bg-alpha-4,
    card:                     $dark-bg-lighter-5,
    dialog:                   $dark-bg-lighter-5,
    tooltip:                  $dark-bg-lighter-20,
    disabled-button:          $light-bg-alpha-12,
    raised-button:            $dark-bg-lighter-5,
    focused-button:           $light-focused,
    selected-button:          $dark-bg-lighter-20,
    selected-disabled-button: $dark-bg-lighter-30,
    disabled-button-toggle:   $dark-bg-lighter-10,
    unselected-chip:          $dark-bg-lighter-20,
    disabled-list-option:     $dark-bg-lighter-10,
);

// Compute font config
@include mat.core();

// Theme Config

body {
    --primary-color: var(--aqua-300);
    --primary-lighter-color: var(--aqua-100);
    --primary-darker-color: var(--aqua-400);
    --text-primary-color: #{$light-primary-text};
    --text-primary-lighter-color: #{$dark-primary-text};
    --text-primary-darker-color: #{$light-primary-text};
}
$mat-primary: (
    main: var(--aqua-300),
    lighter: var(--aqua-100),
    darker: var(--aqua-400),
    200: var(--aqua-300), // For slide toggle,
    contrast : (
        main: $light-primary-text,
        lighter: $dark-primary-text,
        darker: $light-primary-text,
    )
);
$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);


body {
    --accent-color: var(--gray-300);
    --accent-lighter-color: var(--gray-100);
    --accent-darker-color: var(--gray-400);
    --text-accent-color: #{$dark-primary-text};
    --text-accent-lighter-color: #{$dark-primary-text};
    --text-accent-darker-color: #{$light-primary-text};
}
$mat-accent: (
    main: var(--gray-300),
    lighter: var(--gray-100),
    darker: var(--gray-400),
    200: var(--gray-300), // For slide toggle,
    contrast : (
        main: $dark-primary-text,
        lighter: $dark-primary-text,
        darker: $light-primary-text,
    )
);
$theme-accent: mat.define-palette($mat-accent, main, lighter, darker);


body {
    --warn-color: var(--red-400);
    --warn-lighter-color: var(--red-200);
    --warn-darker-color: var(--red-500);
    --text-warn-color: #{$light-primary-text};
    --text-warn-lighter-color: #{$dark-primary-text};
    --text-warn-darker-color: #{$light-primary-text};
}
$mat-warn: (
    main: var(--red-400),
    lighter: var(--red-200),
    darker: var(--red-500),
    200: var(--red-400), // For slide toggle,
    contrast : (
        main: $light-primary-text,
        lighter: $dark-primary-text,
        darker: $light-primary-text,
    )
);

$theme-warn: mat.define-palette($mat-warn, main, lighter, darker);

$typography: mat.define-typography-config();

$theme: mat.define-light-theme((
    color: (
        primary: $theme-primary,
        accent: $theme-accent,
        warn: $theme-warn,
        is-dark: false,
        foreground: $mat-light-theme-foreground,
        background: $mat-light-theme-background,
    ),
    typography: $typography,
    density: 0,
));
//$altTheme: mat.define-light-theme((
//    color: (
//        primary: $theme-primary,
//        accent: $theme-accent,
//        warn: $theme-warn,
//        is-dark: true,
//        foreground: $mat-dark-theme-foreground,
//        background: $mat-dark-theme-background,
//    ),
//    typography: $typography,
//    density: 0,
//));

// Theme Init
@include mat.all-component-themes($theme);

//.theme-alternate {
//    @include mat.all-component-themes($altTheme);
//}

@mixin icons() {
    .material-icons {
        font-size: 24px;
        font-family: 'Material Icons Two Tone', 'Material Icons';
        .mat-badge-content {
            font-family: 'Roboto';
        }
    }

    mat-icon.size-48 {
        width: 48px;
        height: 48px;
        vertical-align: text-bottom;
        display: inline-block;
    }

    mat-icon.size-42 {
        width: 42px;
        height: 42px;
        vertical-align: text-bottom;
        display: inline-block;
    }

    mat-icon.size-40 {
        width: 40px;
        height: 40px;
        vertical-align: text-bottom;
        display: inline-block;
    }

    mat-icon.size-36 {
        width: 36px;
        height: 36px;
        vertical-align: text-bottom;
        display: inline-block;
    }

    mat-icon.size-28 {
        width: 28px;
        height: 28px;
        vertical-align: text-bottom;
        display: inline-block;
    }

    mat-icon.size-24 {
        width: 24px;
        height: 24px;
        vertical-align: text-bottom;
        display: inline-block;
    }

    mat-icon.size-20 {
        width: 20px;
        height: 20px;
        vertical-align: text-bottom;
        display: inline-block;
    }

    mat-icon.size-18 {
        width: 18px;
        height: 18px;
        vertical-align: text-bottom;
        display: inline-block;
    }

    mat-icon.size-16 {
        width: 16px;
        height: 16px;
        vertical-align: text-bottom;
        display: inline-block;
    }

    mat-icon.size-14 {
        width: 14px;
        height: 14px;
        vertical-align: text-bottom;
        display: inline-block;
    }

    mat-icon.size-12 {
        width: 12px;
        height: 12px;
        vertical-align: text-bottom;
        display: inline-block;
    }

    mat-icon.height-24 {
        height: 24px;
    }

    mat-icon.height-20 {
        height: 20px;
    }
}

@mixin sidenav() {
    .mat-sidenav-container {
        height: 100%;
    }

    mat-sidenav {
        width: 50%;
        min-width: 500px;
    }
}

@include sidenav();
@include icons();
