{{#hasEnums}}

export namespace {{classname}} {
{{#vars}}
    {{#isEnum}}
    export type {{enumName}} = {{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}} | {{/-last}}{{/enumVars}}{{/allowableValues}};
    export const {{enumName}} = {
    {{#allowableValues}}
    {{#enumVars}}
        {{{value}}}: {{{value}}} as {{enumName}}{{^-last}},{{/-last}}
    {{/enumVars}}
    {{/allowableValues}}
    };
    {{/isEnum}}
{{/vars}}
}{{/hasEnums}}
