/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

:root {
    --white: #fff;
    --black: #000;
    --black-10: rgba(0, 0, 0, 0.1);
    --black-20: rgba(0, 0, 0, 0.2);
    --black-25: rgba(0, 0, 0, 0.25);
    --black-35: rgba(0, 0, 0, 0.35);
    --gray-100: #d6d6d6;
    --gray-200: #b5b5b5;
    --gray-300: #949494;
    --gray-400: #777;
    --gray-500: #595959;
    --gray-600: #3d3d3d;
    --gray-700: #2c2c2c;
    --red-100: #fec9c9;
    --red-200: #fd9999;
    --red-300: #fc5f5f;
    --red-400: #ed0000;
    --red-500: #b60000;
    --red-600: #810000;
    --orange-100: #ffcda0;
    --orange-200: #ff9e45;
    --orange-300: #e27817;
    --orange-400: #b46012;
    --orange-500: #88480e;
    --orange-600: #5d320a;
    --yellow-100: #f8d41e;
    --yellow-200: #d2b31a;
    --yellow-300: #ac9315;
    --yellow-400: #897511;
    --yellow-500: #68580d;
    --yellow-600: #473d09;
    --green-100: #00f829;
    --green-200: #00d223;
    --green-300: #00ac1c;
    --green-400: #008917;
    --green-500: #006811;
    --green-600: #00480c;
    --blue-100: #cad4ff;
    --blue-200: #9eb2ff;
    --blue-300: #708dff;
    --blue-400: #4267ff;
    --blue-500: #0537ff;
    --blue-600: #0025b7;
    --aqua-100: #9edfff;
    --aqua-200: #41c0ff;
    --aqua-300: #009cea;
    --aqua-400: #007cbb;
    --aqua-500: #005e8e;
    --aqua-600: #004162;
    --purple-100: #e9cafe;
    --purple-200: #d79efd;
    --purple-300: #c36efc;
    --purple-400: #ab34fb;
    --purple-500: #8300db;
    --purple-600: #5d009a;
    --pink-100: #fec3ff;
    --pink-200: #fd89ff;
    --pink-300: #fc2dff;
    --pink-400: #d000d3;
    --pink-500: #9f00a2;
    --pink-600: #700072;
    --border-radius: 4px;
    --pad-xs: 4px;
    --pad-sm: 8px;
    --pad-md: 16px;
    --pad-lg: 24px;
    --pad-xl: 36px;
    --pad-xxl: 56px;
    --margin-xs: 4px;
    --margin-sm: 8px;
    --margin-md: 16px;
    --margin-lg: 24px;
    --margin-xl: 36px;
    --margin-xxl: 56px;
}
