/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

:root {
    --white: #fff;
    --black: #000;
    --black-10: rgba(0, 0, 0, 0.1);
    --black-20: rgba(0, 0, 0, 0.2);
    --black-25: rgba(0, 0, 0, 0.25);
    --black-35: rgba(0, 0, 0, 0.35);
    --gray-40: #fafbfc;
    --gray-50: #f4f5f6;
    --gray-100: #f1f2f3;
    --gray-200: #eaebec;
    --gray-300: #d6d8db;
    --gray-400: #adb2b6;
    --gray-500: #989ea4;
    --gray-600: #838b92;
    --gray-700: #5a656d;
    --gray-800: #333e47;
    --gray-900: #1b2329;
    --blue-50: #edf7ff;
    --blue-100: #bee2ff;
    --blue-200: #90ceff;
    --blue-300: #61bbff;
    --blue-400: #31a2ff;
    --blue-500: #008cff;
    --blue-600: #0074d2;
    --blue-700: #005ba6;
    --blue-800: #004379;
    --blue-900: #002b4d;
    --green-50: #e5ffe5;
    --green-100: #caffca;
    --green-200: #acfbac;
    --green-300: #8cf28c;
    --green-400: #6be36b;
    --green-500: #4ccf4c;
    --green-600: #2fae2f;
    --green-700: #188618;
    --green-800: #0a5f0a;
    --green-900: #023c02;
    --orange-50: #fff3e5;
    --orange-100: #ffd9ac;
    --orange-200: #ffbe73;
    --orange-300: #ffa139;
    --orange-400: #ff8400;
    --orange-500: #f96702;
    --orange-600: #ca4f01;
    --orange-700: #9b3801;
    --orange-800: #6c2500;
    --orange-900: #3d1300;
    --red-50: #ffecec;
    --red-100: #ffc9c9;
    --red-200: #fea7a7;
    --red-300: #fe8484;
    --red-400: #fe6161;
    --red-500: #fe3f3f;
    --red-600: #ce2626;
    --red-700: #9e1414;
    --red-800: #6e0707;
    --red-900: #3d0000;
    --purple-50: #f9eeff;
    --purple-100: #eecfff;
    --purple-200: #e3b0ff;
    --purple-300: #d992ff;
    --purple-400: #ce73ff;
    --purple-500: #c354ff;
    --purple-600: #9933cf;
    --purple-700: #711aa0;
    --purple-800: #4c0970;
    --purple-900: #2a0040;
    --amber-50: #fff4cd;
    --amber-100: #fdeaa3;
    --amber-200: #fce079;
    --amber-300: #fad650;
    --amber-400: #f9cc28;
    --amber-500: #f7c200;
    --amber-600: #c99e00;
    --amber-700: #9b7a00;
    --amber-800: #6e5600;
    --amber-900: #403200;
    --slate-50: #f4f7f9;
    --slate-100: #cbdae0;
    --slate-200: #a2bbc5;
    --slate-300: #789aa8;
    --slate-400: #517989;
    --slate-500: #305868;
    --slate-600: #224452;
    --slate-700: #19323c;
    --slate-800: #132329;
    --slate-900: #0b1316;
    --pink-50: #ffedf9;
    --pink-100: #fce;
    --pink-200: #ffaae3;
    --pink-300: #ff89d7;
    --pink-400: #ff68cc;
    --pink-500: #ff47c1;
    --pink-600: #cd2b96;
    --pink-700: #a01670;
    --pink-800: #70084c;
    --pink-900: #40002a;
    --border-radius: 3px;
    --pad-xs: 4px;
    --pad-sm: 8px;
    --pad-md: 16px;
    --pad-lg: 24px;
    --pad-xl: 36px;
    --pad-xxl: 56px;
    --margin-xs: 4px;
    --margin-sm: 8px;
    --margin-md: 16px;
    --margin-lg: 24px;
    --margin-xl: 36px;
    --margin-xxl: 56px;
}
