<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<mat-sidenav-container (backdropClick)="closeSidenav()">
    <div class="app-root">
        <div class="app-wrapper">
            <header class="header pl-3 pr-3"
                    data-qa="page-title">
                <h1 class="breadcrumb"
                    data-qa="breadcrumb">
                    {{pageTitle}}
                </h1>
                <div class="optional-content">
                    <button mat-button
                            color="primary"
                            (click)="openSidenav()">
                        Open App Sidenav
                    </button>
                </div>
            </header>
            <main class="app-body">
                <router-outlet (activate)="onPageActivate()"></router-outlet>
            </main>
        </div>
    </div>
    <mat-sidenav [disableClose]="true"
                 mode="over"
                 position="start"
                 [opened]="isAppSideNavOpen$ | async"
                 [autoFocus]="true"
                 role="dialog"
                 aria-labelledby="details-title">
        <div class="sidenav-container pt-5 pl-3 pr-3 pb-5">
            <div class="sidenav-header">
                <button mat-button
                        color="primary"
                        type="button"
                        (click)="closeSidenav()"
                        (keydown)="closeIconKeyDown($event)">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <router-outlet (activate)="openSidenav()"
                           (deactivate)="closeSidenav()"
                           name="app-sidenav">
            </router-outlet>
        </div>
    </mat-sidenav>
</mat-sidenav-container>

